@page "/ListClients"
@using Miniprojet.Shared.Entites
@inject NavigationManager Navigation
<PageTitle>Clients</PageTitle>
<h1>Get List of Clients</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">RaisonSociale</th>
            <th scope="col">Description</th>
            <th scope="col">Adresse1</th>
            <th scope="col">Adresse2</th>
            <th scope="col">CodePostal</th>
            <th scope="col">Ville</th>
            <th scope="col">Pays</th>
            <th scope="col">TelephoneSecreteriat</th>
            <th scope="col">Image</th>
            <th scope="col" colspan="3">
                <button @onclick="NewPage" type="button" class="btn btn-primary">AjouterClient</button>
            </th>
           

          
            


        </tr>
    </thead>
    <tbody>
@foreach (var client in _clients)
{
            <tr>
               
                <th scope="row">@client.RaisonSociale</th>
                <td>@client.Description</td>
                <td>@client.Adresse1</td>
                <td>@client.Adresse2</td>
                <td>@client.CodePostal</td>
                <td>@client.Ville</td>
                <td>@client.Pays</td>
                <td>@client.TelephoneSecreteriat</td>
                <td class="circular--landscape"><img src="Image/@client.ImageUrl"></td>
                <th scope="col">
                    <button @onclick="()=>ClientModifier(client.Id)" type="button" class="btn btn-success">Modifier </button>
                </th>
                <th scope="col">
                    <button @onclick="()=>ClientSupprimer(client.Id)" type="button" class="btn btn-danger">Supprimer </button>
                </th>
                <th scope="col">
                    <button @onclick="()=>ClientDetails(client.Id)" type="button" class="btn btn-dark">Detail </button>
                </th>

            </tr>
}
    </tbody>
</table>
<style>
    .circular--landscape {
        display: inline-block;
        position: relative;
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 50%;
    }

        .circular--landscape img {
            width: auto;
            height: 100%;
            margin-left: -50px;
        }

</style>



@code {
    [Inject]
    public HttpClient _httpclient{ get; set; }
    private List<Clients> _clients { get; set; }=new List<Clients>();
    protected override async Task OnInitializedAsync()
    {
        _clients = await _httpclient.GetFromJsonAsync<List<Clients>>("api/Client/");
    }
    private void ClientDetails(int ClientId)
    {
        Navigation.NavigateTo($"/Detailclient/{ClientId}");
    }

    private void ClientModifier(int ClientId)
    {
        Navigation.NavigateTo($"/Modifier/{ClientId}");
    }

    private async void ClientSupprimer(int ClientId)
    {
        var find = _clients.FirstOrDefault(c => c.Id == ClientId);
        if (find!=null)
        {
            var response = await _httpclient.DeleteAsync($"api/Client/{ClientId}");
            if (response.IsSuccessStatusCode)
            {
                Navigation.NavigateTo(Navigation.Uri, true);
            }
        }else
        {
            Navigation.NavigateTo(Navigation.Uri, true);
        }
       
    }
    private void NewPage()
    {
        Navigation.NavigateTo("/NewClient");
    }

}